
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Harsh Patel - "the developer"</h2>
					<p>Hi There,</p>
					<p>My name is Harsh Patel and I am currently studying in Computer Programming and Analysis course. This is my first app which I am launching and its my goal to become a full stack developer. I'll learn and expand my knowledge to become a successfull web developer.</p>
					<p>Enjoy browsing on my app! - If you have questions please email me at <a href="mailto:hjpatel16@myseneca.ca">hjpatel16@myseneca.ca</a></p>
					<p>Sincerely,</p>
					<p>Harsh Patel</p>
					</article>
				</section>
		</div>
	